<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1><a href="/api">Home</a></h1>
            <nav>
                <ul class="left">
                    <li><a href="/api/list">Todo</a></li>
                </ul>
                <ul class="right">
                <% if (!loggedin) {%>
                    <li><a href="/api/login">Login</a></li>
                    <li><a href="/api/signup">Join</a></li>
                <% } else { %>
                    <li><a href="#"><%=name %>님&nbsp&nbsp&nbsp</a>
                        <ol class="drop">
                            <li><a href="/api/logout">Logout</a></li>
                        </ol>
                    </li>
                <% } %>
                </ul>   
            </nav>
        </header>
        <section>
            <h2>투두리스트를 <br>작성해보세요.</h2>
                
            <img src="../images/main.jpg" alt="heh" height="300" width="300" />
        </section>
    </body>
</html>
